@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

@theme {
  --color-brand: var(--color-primary);
  --animate-fade-in: fade-in 0.5s ease-out;
}

:root {
  /* DaisyUI uses styling based on themes, we can add global vars here */
  color-scheme: light dark;
}

@layer base {
  body {
    @apply antialiased text-base-content bg-base-100;
  }
}
